.equipment-block {
      width: 100vw;
      margin-top: clamp(130px, 8vw, 200px);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: -1px;
      align-items: center;
}

.equipment-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: clamp(50px, 12vw, 100px);
      background-color: black;
      padding: 0px 6.5vw;

}

.equipment-line {
      width: 100%;
      height: 120px;
      background-repeat: repeat-x;
      background-size: inherit;
}

.equipment-line.top {
      background-image: url('../../../media/svg-elements/equipment-line-top.svg');
      background-position: bottom;
}

.equipment-line.bottom {
      background-image: url('../../../media/svg-elements/equipment-line-bottom.svg');
      background-position: top;
}


.equipment-container h2 {
      visibility: hidden;
      opacity: 0;

      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: clamp(3px, 1.05vw, 20px);
      font-size: clamp(1.25rem, -0.625rem + 5vw, 2.5rem);
      text-wrap: nowrap;
      color: var(--light-text-color);

      transition: transform 0.75s, opacity 0.75s;
}

.equipment-container h2.visible {
      visibility: visible;
      opacity: 1;
}

.equipment-container h2 span {
      height: 100%;
}

.equipment-container h2 span:nth-child(1),
.equipment-container h2 span:nth-child(4) {
      font-size: clamp(0.875rem, -0.0625rem + 2.5vw, 1.5rem);
      opacity: 0.15;
}

.equipment-container h2 span:nth-child(2),
.equipment-container h2 span:nth-child(3) {
      font-size: clamp(1rem, -0.5rem + 4vw, 2rem);    
      opacity: 0.2;
}


.equipment-logos {
      position: relative;
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      justify-content: space-around;
      gap: 50px;
      width: 100%;
}

.equipment-logos div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
}

.equipment-logos div svg {
      width: 100%;
      height: 100%;
}

.equipment-logos div img {
      
}

.equipment-logos .detail{
      visibility: hidden;
      transform: translateX(-50%);
      opacity: 0;
      margin-top: 0px;

      transition: transform 0.75s, opacity 0.75s;
      
}

.equipment-logos .karcher{
      visibility: hidden;
      transform: translateX(50%);
      opacity: 0;
      margin-top: 0px;

      transition: transform 0.75s, opacity 0.75s;
}

.equipment-logos .shine-system{
      visibility: hidden;
      transform: translateX(-50%);
      opacity: 0;
      margin-top: 0px;

      transition: transform 0.75s, opacity 0.75s;
}

.equipment-logos .comfort{
      visibility: hidden;
      transform: translateX(50%);
      opacity: 0;
      margin-top: 0px;

      transition: transform 0.75s, opacity 0.75s;
}

.equipment-logos .detail.visible,
.equipment-logos .karcher.visible,
.equipment-logos .shine-system.visible,
.equipment-logos .comfort.visible {
      visibility: visible;
      transform: translateX(0%);
      opacity: 1;
}



@media screen and (max-width: 1600px) {
      .equipment-container {
            gap: 80px;
      }
      .equipment-logos div svg,
      .equipment-logos div img {
            width: 80%;
            height: 80%;
      }
}

@media screen and (max-width: 1000px) {

      .equipment-line {
            height: 100px;
      }

      .equipment-logos {
            grid-template-columns: auto;
            justify-content: center;
            gap: 60px;
      }

      .equipment-logos .detail,
      .equipment-logos .karcher,
      .equipment-logos .shine-system,
      .equipment-logos .comfort{
            width: 100%;
      }

      .equipment-logos .detail,
      .equipment-logos .shine-system {
            justify-content: flex-start;
            
      }

      .equipment-logos .karcher,
      .equipment-logos .comfort{
            justify-content: flex-end;
      }

      .equipment-logos div svg,
      .equipment-logos div img {
            width: 60%;
            height: 60%;
      }


}
