.about-us-block {
      margin-top: 20px;
}

.about-us-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      gap: clamp(35px, 4vw, 60px);
      padding: 0px clamp(14px, 4vw, 60px);
}

.about-us-container h2 {
      visibility: hidden;
      opacity: 0;
      transform: translateY(80%);
      transition: transform 0.75s, opacity 0.75s;
}

.about-us-container h2.visible {
      visibility: visible;
      opacity: 1;
      transform: translateY(0%);
}



.about-us-container > p {
      visibility: hidden;
      transform: translateY(50%);
      opacity: 0;

      display: flex;
      flex-direction: column;
      gap: 15px;

      font-size: clamp(0.875rem, 0.7105rem + 0.6579vw, 1.5rem);
      font-weight: var(--regular-font);
      padding-bottom: 15px;

      transition: transform 0.5s, opacity 0.5s;
}

.about-us-container > p span{
      visibility: hidden;
      transform: translateY(50%);
      opacity: 0;

      color: var(--add-color);
      font-weight: var(--medium-font);

      transition: transform 0.5s, opacity 0.5s;
}


.about-us-container > p.visible,
.about-us-container > p span.visible {
      visibility: visible;
      transform: translateY(0px);
      opacity: 1;
}


/* list-feature */

.list-feature {
      width: 100%;
}

.list-feature-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-evenly;
      width: 100%;
}

.list-feature-container h3 {
      visibility: hidden;
      opacity: 0;
      transform: translateY(50%);

      font-weight: var(--medium-font);
      font-size: clamp(1.125rem, 0.95rem + 0.875vw, 2rem);
      margin-bottom: clamp(12px, 1.4016vw, 20px);

      transition: transform 0.75s, opacity 0.75s;
}

.list-feature-container .point {
      visibility: hidden;
      opacity: 0;
      transform: translateY(50%);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;  
      width: 420px;

      transition: transform 0.75s, opacity 0.75s;
}

.list-feature-container .point p {
      visibility: hidden;
      opacity: 0;
      transform: translateY(50%);

      text-align: center;
      font-size: clamp(0.8125rem, 0.7273rem + 0.2273vw, 1rem);

      transition: transform 0.75s, opacity 0.75s;
}

.list-feature-container .point p span {
      visibility: hidden;
      opacity: 0;
      transform: translateY(50%);

      color: var(--add-color);

      transition: transform 0.75s, opacity 0.75s;
}

.list-feature-container h3.visible,
.list-feature-container .point.visible,
.list-feature-container .point p.visible,
.list-feature-container .point p span.visible {
      visibility: visible;
      opacity: 1;
      transform: translateY(0%);
}

/* adaptiv */

@media screen and (max-width: 1400px) {
      .list-feature-container {
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
      }
}

@media screen and (max-width: 1000px) {
      .about-us-container {
            gap: 30px;
      }

      .list-feature-container {
            gap: 20px;
      }
}

@media screen and (max-width: 600px) {
      .list-feature-container svg {
            width: 114px;
            height: 114px;
      }
}

