@import url('../../../root-styles.css');

.categories-block {
      width: 100%;
      padding: 80px;
}

.categories-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
}

.categories-container span {
      position: relative;
      font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
      padding: 0.5em 0.75em;
      color: var(--dark-color);
      border-radius: 30px;
      transition: color 0.22s, background-color 0.22s;
}

.categories-container span:hover {
      cursor: pointer;

}

.categories-container span.active {
      color: var(--light-color);
      background-color: var(--dark-color);
}

.examples-work-block {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      margin: 20px 0px 30px;
}

.examples-work-block::before,
.examples-work-block::after {
      display: none;           
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      height: 1px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #0B6606 50%, rgba(170, 170, 170, 0) 100%);
      border-radius: 30px;

}

.examples-work-block::before {
      top: 34px;
}

.examples-work-block::after {
      /* display: none;            */
      bottom: -30px;
}

.examples-work-block h2 {
      visibility: hidden;
      transform: translateY(30px);
      opacity: 0;

      font-weight: var(--medium-font);
      font-size: clamp(1.125rem, 0.95rem + 0.875vw, 2rem);
      margin-top: 60px;

      transition: transform 0.75s, opacity 0.75s;
}

.examples-work-block h2.visible {
      visibility: visible;
      transform: translateY(0px);
      opacity: 1;
}

.examples-work-images-block {
      display: flex;
      justify-content: center;
      gap: 80px;
}


.examples-work-images-container {
      visibility: hidden;
      transform: translateY(30px);
      opacity: 0;

      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;

      width: 650px;
      height: 488px;

      border-radius: 30px;
      overflow: hidden;

      transition: transform 0.75s, opacity 0.75s;
}

.examples-work-images-container.visible {
      visibility: visible;
      transform: translateY(0px);
      opacity: 1;
}

.scroll-line-block {
      position: absolute;
      left: 50%;
      top: 0px;
      width: 4px;
      height: 100%;
      background-color: white;
      z-index: 30;
}

.scroll-line-block::after {
      position: absolute;
      content: url('../../../../media/svg-elements/circle-scroll.svg');
      width: 40px;
      height: 40px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
}

.work-image-left {
      position: absolute;
      width: 50%;
      left: 0px;
      top: 0px;
      height: 100%;
      overflow: hidden;
      z-index: 20;
}

.work-image-right {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100%;
      overflow: hidden;
      z-index: 10;
      width: 650px;
}

.work-image-right img, 
.work-image-left img {
      width: 650px;
      height: 100%;
      object-fit: cover;
      max-width: unset;
      user-select: none
}


@media screen and (max-width: 1500px ) {
      .examples-work-images-container {
            width: 550px;
            height: 412px;
      }

      .work-image-right {
            width: 550px;
      }

      .work-image-right img, 
      .work-image-left img {
            width: 550px;
      }

}

@media screen and (max-width: 1300px ) {
      .examples-work-images-block {
            gap: 60px;
      }

      .examples-work-images-container {
            width: 550px;
            height: 412px;
      }

      .work-image-right {
            width: 550px;
      }

      .work-image-right img, 
      .work-image-left img {
            width: 550px;
      }

}

@media screen and (max-width: 1220px ) {
      .examples-work-images-block {
            gap: 30px;
      }

      .examples-work-images-container {
            width: 460px;
            height: 345px;
      }

      .work-image-right {
            width: 460px;
      }

      .work-image-right img, 
      .work-image-left img {
            width: 460px;
      }

}

@media screen and (max-width: 1000px ) {

      .examples-work-block::before {
            display: block;            
      }
      .examples-work-block::after {
            display: block;            
      }

      .examples-work-images-block {
            flex-direction: column;
            align-items: center;
      }

      .examples-work-images-container {
            width: 490px;
            height: 368px;
      }

      .work-image-right {
            width: 490px;
      }

      .work-image-right img, 
      .work-image-left img {
            width: 490px;
      }

}

@media screen and (max-width: 700px ) {
      

      .examples-work-images-container {
            width: 400px;
            height: 300px;
            border-radius: 20px;
      }

      .work-image-right {
            width: 400px;
      }

      .work-image-right img, 
      .work-image-left img {
            width: 400px;
      }

      
}

@media screen and (max-width: 500px ) {
      

      .examples-work-images-container {
            width: 300px;
            height: 225px;
      }

      .work-image-right {
            width: 300px;
      }

      .work-image-right img, 
      .work-image-left img {
            width: 300px;
      }


}




