.info-servise-block {
      margin: 30px 0px 80px; 
}

.info-servise-container {
      display: flex;
      flex-direction: column;
      padding: 0px clamp(10px, 6vw, 100px);
}

.info-servise-container p {
      visibility: hidden;
      transform: translateY(30px);
      opacity: 0;

      margin-top: 30px;
      font-size: clamp(0.875rem, 0.7763rem + 0.3947vw, 1.25rem);

      transition: transform 0.75s, opacity 0.75s;
}

.info-servise-container p.visible {
      visibility: visible;
      transform: translateY(0px);
      opacity: 1;
}


.info-servise-container .price-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 50px;
}

.info-servise-container .price-block p {
      margin-top: 20px;
      font-weight: var(--medium-font);
      font-size: clamp(1.125rem, 1.0263rem + 0.3947vw, 1.5rem);
}

.info-servise-container ul {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 20px;
      margin-left: 20px;
      max-width: 800px;
}

.info-servise-container ul li{
      visibility: hidden;
      transform: translateY(30px);
      opacity: 0;

      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 10px;
      font-size: clamp(0.875rem, 0.7763rem + 0.3947vw, 1.25rem);

      transition: transform 0.75s, opacity 0.75s;
}

.info-servise-container ul li.visible{
      visibility: visible;
      transform: translateY(0px);
      opacity: 1;
}

.info-servise-container ul li::before{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -20px;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50px;
      background-color: var(--add-color);
}


.images-slide-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 40px 0px;
      gap: 20px;
}

.images-slide-container {
      visibility: hidden;
      transform: translateY(30px);
      opacity: 0;

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 30px;
      transition: 0.22s;

      transition: transform 0.75s, opacity 0.75s;
}

.images-slide-container.visible {
      visibility: visible;
      transform: translateY(0px);
      opacity: 1;
}

.images-block {
      display: flex;
      flex-direction: column;
}

.images-visible-block {
      width: 468px;
      height: 624px;
      overflow: hidden;
      border-radius: 25px;
      gap: 10px;
}

.images-visible-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: 0.22s;
}
 

.images-visible-container img {
      object-fit: contain;
      border-radius: 25px;
}

.image-index {     
      visibility: hidden;
      opacity: 0;

      display: flex;
      flex-direction: row;
      gap: 15px;

      transition: opacity 0.75s;
}

.image-index.visible {
      visibility: visible;
      opacity: 1;
}

.image-index span {
      width: 12px;
      height: 12px;
      border: 3px solid var(--add-color);
      border-radius: 10px;
      transition: 0.15s;
}

.image-index span.active {
      background-color: var(--add-color);
}


.fixed-phone {
      display: flex;

      width: 70px;
      height: 70px;
}

.fixed-phone {
      position: fixed;
      display: none;
      justify-content: center;
      align-items: center;
      bottom: 20px;
      right: 15px;
      width: 60px;
      height: 60px;
      z-index: 10000;
}

.fixed-phone svg {
      width: 100%;
      height: 100%;
}


.leading-form-buttom {
      width: 100%;
      margin-top: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
}

.leading-form-buttom button {  
      visibility: hidden;
      transform: translateY(30px);
      opacity: 0;
      
      font-family: 'Exo2';
      font-size: clamp(0.875rem, 0.5909rem + 0.7576vw, 1.5rem);
      letter-spacing: 1.66px;
      color: var(--light-text-color);
      border-radius: 200px;
      border: unset;
      padding: 1.1em 6em;
      background-color: var(--add-color);
      
      transition: transform 0.75s, opacity 0.75s;
}

.leading-form-buttom button.visible {  
      visibility: visible;
      transform: translateY(0px);
      opacity: 1;
}

 

/* adaptive */
@media screen and (max-width: 1000px) {

      .info-servise-container .price-block {
            align-items: center;
            margin-top: 40px;
      }


}

@media screen and (max-width: 1100px) {

      .images-slide-container {
            gap: 20px;
      }

      .arrow svg {
            width: 66px;
            height: 66px;
      }

      .images-visible-block {
            width: 300px;
            height: 400px;
      }
}

@media screen and (max-width: 800px) {

      .fixed-phone {
            display: flex;
      }
}

@media screen and (max-width: 600px) {

      .info-servise-container {
            padding: 0px 10px;
      }

      .info-servise-container ul {
            margin-top: 20px;
            margin-left: 10px;
      }

      .images-slide-block {
            margin: 30px 0px 20px;
            gap: 16px;
      }

      .info-servise-container p {
            margin-top: 30px;
      }

      .images-slide-container {
            gap: 15px;
      }

      .arrow svg {
            width: 50px;
            height: 50px;
      }

      .images-visible-block {
            width: 260px;
            height: 347px;
      }

      .leading-form-buttom {
            margin-top: 60px;
      }

      .leading-form-buttom button {
            padding: 1.1em 2em;
      }


}

@media screen and (max-width: 450px) {

      .images-slide-container {
            gap: 10px;
      }

      .arrow svg {
            width: 40px;
            height: 40px;
      }

      .images-visible-block {
            width: 200px;
            height: 267px;
      }


}

@media screen and (max-width: 350px) {

      .leading-form-buttom button {
            padding: 1.1em 1em;
      }


}