.services-block {
      margin-top: 300px;
}

.services-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 80px;
      
      width: 100%;
}

.services-container > h2 {
      visibility: hidden;
      transform: translateY(50%);
      opacity: 0;

      transition: transform 0.75s, opacity 0.75s;
}

.services-container > h2.visible {
      visibility: visible;
      transform: translateY(0%);
      opacity: 1;
}

.cards-block {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
      gap: 40px;
}

.card-block {
      visibility: hidden;
      transform: translateY(50%);
      opacity: 0;

      position: relative;
      width: 420px;
      height: 315px;
      /* background-color: gray; */
      border-radius: 30px;
      padding: 10px;
      overflow: hidden;

      transition: transform 0.75s, opacity 0.75s;
}

.card-block.visible {
      visibility: visible;
      transform: translateY(0%);
      opacity: 1;
}

/* background images | url */
.dry-cleaning {
      background-image: url('../../../../media/images/servises/001dry-cleaning/photo11.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
}

.noise-insulation {
      background-image: url('../../../../media/images/servises/002noise-insulation/photo21.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
}

.engine-washing {
      background-image: url('../../../../media/images/servises/003engine-washing/photo31.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
}

.ozonation {
      background-image: url('../../../../media/images/servises/004ozonation/photo41.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
}

.headlight-restoration {
      background-image: url('../../../../media/images/servises/005restoring-headlights/photo51.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
}

.anti-rain {
      background-image: url('../../../../media/images/servises/006anti-rain/photo61.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
}

.polishing  {
      background-image: url('../../../../media/images/servises/007polishing/photo71.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
}

.tinting {
      background-image: url('../../../../media/images/servises/008tinting/photo81.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
}


/* x */

.card-container {
      width: 100%;
      height: 100%;
}

.card-container h3 {
      font-size: 1.5rem;
      text-align: center;
      color: var(--light-color);
}

.more-button {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 16px;
      
      width: 50px;
      height: 50px;
      bottom: 10px;
      right: 10px;
      border-radius: 200px;
      overflow: hidden;
      box-shadow: inset 0 0 0 3px var(--light-color);
      transition: width 0.22s;
}


.card-block:active .more-button {
      opacity: 0.8;
}

.more-button span {
      font-weight: var(--regular-font);
      color: var(--light-color);
}

.more-button svg {
      rotate: -20deg;
      transition: rotate 0.22s;
}

.more-button .sircle {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      aspect-ratio: 1 / 1;
      background-color: var(--light-color);
      border-radius: 200px;
      
}
.all-servise-button {
      display: none;
      font-family: 'Exo2';
      font-size: clamp(0.875rem, 0.5909rem + 0.7576vw, 1.5rem);
      letter-spacing: 1.66px;
      color: var(--light-text-color);
      border-radius: 200px;
      border: unset;
      padding: 1.1em 6em;
      background-color: var(--add-color);
      margin-top: -40px;
}

@media (hover: hover) {
      .works-link-container a:hover::before {
            width: 100%;
      }

      .card-block:hover {
            cursor: pointer;
      }
      .card-block:hover .more-button {
            width: 200px;
      }
      .card-block:hover .more-button svg {
            rotate: -25deg;
      }
}

@media (hover: none) {
      .works-link-container a:active::before {
            width: 100%;
      }      

      .more-button {
            width: 200px;
      }
}


/* adaptive */
@media screen and (max-width: 1370px) {

      .cards-block {
            gap: 20px;
      }

      .card-block {
            width: 380px;
            height: 286px;
      }
}

@media screen and (max-width: 1200px) {

      .services-block {
            margin-top: 220px;
      }

      .cards-block {
            grid-template-columns: auto auto;
            gap: 30px;
      }

      .card-container h3 {
            font-size: 1rem;
      }

      .polishing  {
            grid-column: unset;
      }
}

@media screen and (max-width: 820px) {
      .cards-block {
            gap: 10px;
      }

      .card-block {
            width: 340px;
            height: 256px;
      }
}

@media screen and (max-width: 740px) {

      .services-block {
            margin-top: 150px;
      }

      .cards-block {
            grid-template-columns: auto;
            gap: 20px;
            overflow: hidden;

            height: calc(286px * 3 + 40px);
            transition: 0.22s;
      }

      .card-block {
            width: 380px;
            height: 286px;
      }

      .card-block.polishing {
            grid-row: 2 / 3;
      }

      .card-container h3 {
            font-size: 1.5rem;
      }


      .more-button {
            gap: 5px;
            width: 44px;
            height: 44px;
            box-shadow: inset 0 0 0 2px var(--light-color);
      }

      .more-button svg {
            width: 20px;
            height: 10px;
      }

      @media (hover: none) {
            .more-button {
                  width: 180px;
            }
      }

      .all-servise-button {
            display: block;
      }
}

@media screen and (max-width: 600px) {
      .cards-block {
            grid-template-columns: auto;
      }

      .cards-block {
            height: calc(226px * 3 + 40px);
      }

      .card-block {
            width: 300px;
            height: 226px;
      }

      .card-container h3 {
            font-size: 1rem;
      }
}