.map-block {
      visibility: hidden;
      transform: translateY(50%);
      opacity: 0;
      
      margin-top: clamp(100px, 9vw, 150px);
      
      transition: transform 0.75s, opacity 0.75s;
}
.map-block {
      visibility: visible;
      transform: translateY(0%);
      opacity: 1;
}

